# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# VS Code settings
.vscode/

# IDE-specific files
.idea/
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# dotenv environment variable files
.env

# Build output
/dist
/build
/tmp
/out-tsc

# TypeScript
*.tsbuildinfo

# npm package lock
package-lock.json
yarn.lock
